# Arquivos temporários gerados pela compilação do .NET Core
bin/
obj/

# Arquivos gerados pela documentação XML do .NET
*.xml

# Logs e arquivos de exceção
*.log
*.vscode/
*.vs/

# Arquivos de cache do Visual Studio
*.user
*.userosscache
*.suo
*.sln.docstates

# Pacotes do NuGet
*.nupkg

# Arquivos de dependências Node.js e NPM
node_modules/
npm-debug.log

# Pasta de cache do ReSharper
_ReSharper*/

# Pasta de cache do dotCover
*.dotCover

# Pasta de saída de testes
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
