<h2>Cadastro de Motos</h2>
<form class="form-container" (ngSubmit)="addMoto()">
    <div class="form-group">
        <label for="year">Ano:</label>
        <input class="form-control" type="number" id="year" name="year" [(ngModel)]="moto.year" required>
    </div>
    <div class="form-group">
        <label for="model">Modelo:</label>
        <input class="form-control" type="text" id="model" name="model" [(ngModel)]="moto.model" required>
    </div>
    <div class="form-group">
        <label for="licensePlate">Placa:</label>
        <input class="form-control" type="text" id="licensePlate" name="licensePlate" [(ngModel)]="moto.licensePlate" required>
    </div>
    <div class="form-group">
        <label for="color">Cor:</label>
        <input class="form-control" type="text" id="color" name="color" [(ngModel)]="moto.color" required>
    </div>
    <div class="form-group">
        <label for="engineCapacity">Cilindrada:</label>
        <input class="form-control" type="text" id="engineCapacity" name="engineCapacity" [(ngModel)]="moto.engineCapacity" required>
    </div>
    <button class="btn btn-primary" type="submit">Cadastrar Moto</button>
</form>

<h2>Cadastro de Pedidos</h2>
<form class="form-container" (ngSubmit)="addOrder()">
    <div class="form-group">
        <label for="addressOrder">Endereço do Pedido:</label>
        <input class="form-control" type="text" id="addressOrder" name="addressOrder" [(ngModel)]="order.addressOrder" required>
    </div>
    <div class="form-group">
        <label for="orderServiceValue">Valor do Pedido:</label>
        <input class="form-control" type="number" id="orderServiceValue" name="orderServiceValue" [(ngModel)]="order.orderServiceValue" required>
    </div>
    <button class="btn btn-primary" type="submit">Cadastrar Pedido</button>
</form>
