<h2>Listagem de Motos</h2>


<div class="form-container">
    <div class="form-group">
        <label for="filterYear">Ano:</label>
        <select class="form-control" id="filterYear" [(ngModel)]="filterMoto.year">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="filterModel">Modelo:</label>
        <input class="form-control" type="text" id="filterModel" [(ngModel)]="filterMoto.model" maxlength="50">
    </div>
    <div class="form-group">
        <label for="filterLicensePlate">Placa:</label>
        <input class="form-control uppercase" type="text" id="filterLicensePlate" [(ngModel)]="filterMoto.licensePlate" maxlength="7">
    </div>
    <div class="form-group">
        <label for="filterColor">Cor:</label>
        <input class="form-control" type="text" id="filterColor" [(ngModel)]="filterMoto.color" maxlength="20">
    </div>
    <div class="form-group">
        <label for="filterEngineCapacity">Cilindrada:</label>
        <input class="form-control" type="number" id="filterEngineCapacity" [(ngModel)]="filterMoto.engineCapacity">
    </div>
    <div class="form-group">
        <label for="filterIsAvailable">Disponível?:</label>
        <select class="form-control" id="filterIsAvailable" [(ngModel)]="filterMoto.isAvailable">
            <option *ngFor="let statusMoto of statusAvailabeMotoList" [ngValue]="statusMoto.key">{{ statusMoto.value }}</option>
        </select>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>Ano</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Cor</th>
            <th>Cilindrada</th>
            <th>Disponível?</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let moto of filteredMotorcycles" (click)="openMotoEditModal(moto)">
            <td>{{ moto.year }}</td>
            <td>{{ moto.model }}</td>
            <td>{{ moto.licensePlate }}</td>
            <td>{{ moto.color }}</td>
            <td>{{ moto.engineCapacity }}</td>
            <td>{{ moto.isAvailable == false ? 'Não' : 'Sim' }}</td>
            <td>
                <button (click)="openMotoEditModal(moto)">Editar</button>
                <button *ngIf="moto.motorcycleId" (click)="confirmDeleteMoto(moto.motorcycleId!)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="button-group">
    <button class="btn btn-primary" (click)="openMotoCreateModal()">
        <i class="fas fa-plus"></i> Nova Moto
    </button>
    <button class="btn btn-primary" (click)="applyMotoFilters()">
        <i class="fas fa-search"></i> Pesquisar
    </button>
    <button class="btn btn-secondary" (click)="resetMotoFilters()">
        <i class="fas fa-eraser"></i> Limpar Filtros
    </button>
</div>

<br />
<br />
<br />

<h2>Listagem de Pedidos</h2>


<div class="form-container">
    <div class="form-group">
        <label for="filterAddressOrder">Endereço:</label>
        <input class="form-control" type="text" id="filterAddressOrder" [(ngModel)]="filterOrder.addressOrder">
    </div>
    <div class="form-group">
        <label for="filterOrderServiceValue">Valor:</label>
        <input class="form-control" type="number" id="filterOrderServiceValue" [(ngModel)]="filterOrder.orderServiceValue">
    </div>
    <div class="form-group">
        <label for="startDate">Data Inicial</label>
        <input type="date" id="startDate" class="form-control" [(ngModel)]="filterOrder.startDate" name="startDate">
    </div>
    <div class="form-group">
        <label for="endDate">Data Final</label>
        <input type="date" id="endDate" class="form-control" [(ngModel)]="filterOrder.endDate" name="endDate">
    </div>

    <div class="form-group">
        <label for="filterStatusOrderId">Situação:</label>
        <select class="form-control" id="filterStatusOrderId" [(ngModel)]="filterOrder.statusOrderId">
            <option *ngFor="let status of statusList" [value]="status.key">{{ status.value }}</option>
        </select>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>Endereço</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Situação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of filteredOrders" (click)="openOrderEditModal(order)">
            <td>{{ order.addressOrder }}</td>
            <td>{{ order.orderServiceValue }}</td>
            <td>{{ order.orderCreationDate | date }}</td>
            <td>{{ getStatusName(order.statusOrderId) }}</td>
            <td>
                <button (click)="openOrderEditModal(order)">Editar</button>
                <button *ngIf="order.orderId" (click)="confirmDeleteOrder(order.orderId!)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="button-group">
    <button class="btn btn-primary" (click)="openOrderCreateModal()">
        <i class="fas fa-plus"></i> Novo Pedido
    </button>
    <button class="btn btn-primary" (click)="applyOrderFilters()">
        <i class="fas fa-search"></i> Pesquisar
    </button>
    <button class="btn btn-secondary" (click)="resetOrderFilters()">
        <i class="fas fa-eraser"></i> Limpar Filtros
    </button>
</div>

<br />
<br />
<br />

<div>
    <h2>Entregadores Notificados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Número do Pedido</th>
                <th>Nome do Entregador</th>
                <th>Mensagem</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let notification of orderNotifications">
                <td>{{ notification.orderId }}</td>
                <td>{{ notification.user!.firstName }}</td>
                <td>{{ notification.message }}</td>
                <td>{{ notification.createdAt | date:'dd/MM/yyyy' }}</td>

            </tr>
        </tbody>
    </table>
    <div class="button-group">
        <button class="btn btn-primary" (click)="searchNotifications()">
            <i class="fas fa-search"></i> Pesquisar
        </button>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="isMotoCreateModalOpen">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Moto</h5>
                <button type="button" class="close" (click)="closeMotoCreateModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addMoto()">
                    <div class="form-group">
                        <label for="year">Ano:</label>
                        <select class="form-control" id="year" name="year" [(ngModel)]="moto.year" required>
                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="model">Modelo:</label>
                        <input class="form-control" type="text" id="model" name="model" [(ngModel)]="moto.model" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="licensePlate">Placa:</label>
                        <input class="form-control" type="text" id="licensePlate" name="licensePlate" [(ngModel)]="moto.licensePlate" maxlength="7" required>
                    </div>
                    <div class="form-group">
                        <label for="color">Cor:</label>
                        <input class="form-control" type="text" id="color" name="color" [(ngModel)]="moto.color" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <label for="engineCapacity">Cilindrada:</label>
                        <input class="form-control" type="number" id="engineCapacity" name="engineCapacity" [(ngModel)]="moto.engineCapacity" required>
                    </div>
                    <div class="form-group">
                        <label for="isAvailable">Disponível:</label>
                        <select class="form-control" id="isAvailable" name="isAvailable" [(ngModel)]="moto.isAvailable" required>
                            <option *ngFor="let statusMoto of statusAvailabeMotoList" [value]="statusMoto.key">{{ statusMoto.value }}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Cadastrar Moto</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="selectedMoto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Moto</h5>
                <button type="button" class="close" (click)="closeMotoEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editYear">Ano:</label>
                        <select class="form-control" id="editYear" [(ngModel)]="selectedMoto.year" name="year">
                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editModel">Modelo:</label>
                        <input class="form-control" type="text" id="editModel" [(ngModel)]="selectedMoto.model" name="model" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="editLicensePlate">Placa:</label>
                        <input class="form-control" type="text" id="editLicensePlate" [(ngModel)]="selectedMoto.licensePlate" name="licensePlate" maxlength="7">
                    </div>
                    <div class="form-group">
                        <label for="editColor">Cor:</label>
                        <input class="form-control" type="text" id="editColor" [(ngModel)]="selectedMoto.color" name="color" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="editEngineCapacity">Cilindrada:</label>
                        <input class="form-control" type="number" id="editEngineCapacity" [(ngModel)]="selectedMoto.engineCapacity" name="engineCapacity">
                    </div>
                    <div class="form-group">
                        <label for="editIsAvailable">Disponível:</label>
                        <select class="form-control" id="editIsAvailable" name="editIsAvailable" [(ngModel)]="selectedMoto.isAvailable">
                            <option *ngFor="let statusMotoList of statusAvailabeMotoList" [value]="statusMotoList.key">{{ statusMotoList.value }}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" (click)="saveMoto()">Salvar Alterações</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="isOrderCreateModalOpen">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Pedido</h5>
                <button type="button" class="close" (click)="closeOrderCreateModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addOrder()">
                    <div class="form-group">
                        <label for="addressOrder">Endereço:</label>
                        <input class="form-control" type="text" id="addressOrder" name="addressOrder" [(ngModel)]="order.addressOrder" required>
                    </div>
                    <div class="form-group">
                        <label for="orderServiceValue">Valor:</label>
                        <input class="form-control" type="number" id="orderServiceValue" name="orderServiceValue" [(ngModel)]="order.orderServiceValue" required>
                    </div>
                    <div class="form-group">
                        <label for="orderCreationDate">Data:</label>
                        <input class="form-control" type="date" id="orderCreationDate" name="orderCreationDate" [(ngModel)]="order.orderCreationDate" required>
                    </div>
                    <div class="form-group">
                        <label for="statusOrderId">Situação:</label>
                        <select class="form-control" id="statusOrderId" name="statusOrderId" [(ngModel)]="order.statusOrderId" required>
                            <option *ngFor="let status of statusList" [value]="status.key">{{ status.value }}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Cadastrar Pedido</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="selectedOrder">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Pedido</h5>
                <button type="button" class="close" (click)="closeOrderEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editAddressOrder">Endereço:</label>
                        <input class="form-control" type="text" id="editAddressOrder" [(ngModel)]="selectedOrder.addressOrder" name="addressOrder">
                    </div>
                    <div class="form-group">
                        <label for="editOrderServiceValue">Valor:</label>
                        <input class="form-control" type="number" id="editOrderServiceValue" [(ngModel)]="selectedOrder.orderServiceValue" name="orderServiceValue">
                    </div>
                    <div class="form-group">
                        <label for="editOrderCreationDate">Data:</label>
                        <input class="form-control" type="date" id="editOrderCreationDate" [(ngModel)]="selectedOrder.orderCreationDate" name="orderCreationDate">
                    </div>
                    <div class="form-group">
                        <label for="editStatusOrderId">Situação:</label>
                        <select class="form-control" id="editStatusOrderId" name="statusOrderId" [(ngModel)]="selectedOrder.statusOrderId">
                            <option *ngFor="let status of statusList" [value]="status.key">{{ status.value }}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" (click)="saveOrder()">Salvar Alterações</button>
                </form>
            </div>
        </div>
    </div>
</div>
