<div class="container">
    <h2>Cadastre-se na plataforma</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">Nome</label>
            <input type="text" id="firstName" class="form-control" [(ngModel)]="user.firstName" name="firstName" required maxlength="20">
        </div>
        <div class="form-group">
            <label for="lastName">Sobrenome</label>
            <input type="text" id="lastName" class="form-control" [(ngModel)]="user.lastName" name="lastName" required maxlength="20">
        </div>
        <div class="form-group">
            <label for="cnpj">CNPJ (somente números)</label>
            <input type="text" id="cnpj" class="form-control" [(ngModel)]="user.cnpj" name="cnpj" required maxlength="14">
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Data de Nascimento</label>
            <input type="date" id="dateOfBirth" class="form-control" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" required>
        </div>
        <div class="form-group">
            <label for="categoryLicense">Categoria da CNH</label>
            <select class="form-control" id="categoryLicense" name="categoryLicense" [(ngModel)]="user.categoryLicense">
                <option *ngFor="let licenseCategory of licenseCategories" [ngValue]="licenseCategory.key">{{ licenseCategory.value }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="licenseNumber">Número da CNH</label>
            <input type="number" id="licenseNumber" class="form-control" [(ngModel)]="user.licenseNumber" name="licenseNumber" required maxlength="10">
        </div>
        <div class="form-group">
            <label for="imageFile">Imagem da CNH</label>
            <input type="file" id="imageFile" class="form-control" (change)="onFileChange($event)" name="imageFile" required>
        </div>
        <div class="form-group">
            <label for="userEmail">Email</label>
            <input type="email" id="userEmail" class="form-control" [(ngModel)]="user.userEmail" name="userEmail" required maxlength="100">
        </div>
        <div class="form-group">
            <label for="userPassword">Senha</label>
            <input type="password" id="userPassword" class="form-control" [(ngModel)]="user.userPassword" name="userPassword" required minlength="8" maxlength="20">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
